{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchmaterials" method="POST">
      <input type="text" placeholder="Search Materials" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<br>
  <h4>Add Material</h4>
<br>
<form method="POST" action="">
    {{ form.csrf_token }}
    {{ form.Title.label }} {{ form.Title }}<br>
    <br>
    {{ form.Genre.label }} {{ form.Genre }}<br>
    <br>
    {{ form.Author.label }} {{ form.Author }}<br>
    <br>
    {{ form.ISBN.label }} {{ form.ISBN }}<br>
    <br>
    {{ form.DateAdded.label }} {{ form.DateAdded }}<br>
    <br>
    <input type="submit" value="Add Material">
</form>
<br>

{% endblock %}
