{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchpeople" method="POST">
      <input type="text" placeholder="Search Patrons" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<br>
<div>
  <h4>Add Patron</h4>
<br>
<form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.FirstName.label }} {{ form.FirstName }}<br>
    <br>
    {{ form.LastName.label }} {{ form.LastName }}<br>
    <br>
    {{ form.Birthdate.label }} {{ form.Birthdate }}<br>
    <br>
    {{ form.Address.label }} {{ form.Address }}<br>
    <br>
    {{ form.City.label }} {{ form.City }}<br>
    <br>
    {{ form.State.label }} {{ form.State }}<br>
    <br>
    {{ form.Zip.label }} {{ form.Zip }}<br>
    <br>
    {{ form.PhoneNumber1.label }} {{ form.PhoneNumber1 }}<br>
    <br>
    {{ form.PhoneNumber2.label }} {{ form.PhoneNumber2 }}<br>
    <br>
    {{ form.Email.label }} {{ form.Email }}<br>
    <br>
    <input type="submit" value="Add Patron">

  </form>

</div>
{% endblock %}
