{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a class="active" href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchcheckout" method="POST">
      <input type="text" placeholder="Search Checkout" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<br>
<br>
<p><a href="{{ url_for('add_checkout')}}" class="btn btn-info"> Checkout</a>
  <a href="/circulations/overdue" class="btn btn-danger"> Overdue Materials</a>
<a href="/circulations/duetoday" class="btn btn-danger"> Due Today</a>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
    {% for message in messages %}
    <strong>Alert!
    </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

  {% if checkout %}
          <table class = "table table-striped" id="checkout">
          <thead>
              <tr>

                  <th>Checkout ID</th>
                  <th>People ID</th>
                  <th>Material ID</th>
                  <th>Checkout Date</th>
                  <th>Date Due</th>

              </tr>
          </thead>

        <tbody>

          {% for row in checkout %}      <tr>

            <td> {{ row.CheckoutID }}</td>
            <td> {{ row.PeopleID }}</td>
            <td> {{ row.MaterialID }}</td>
            <td> {{ row.Checkoutdate }}</td>
            <td> {{ row.Datedue }}</td>

            <td>
              <form action="{{ url_for('delete_checkout', CheckoutID=row.CheckoutID) }}" method="POST">
                <input type="submit" value="Check In" class="btn btn-info" />
              </form>
            </td>
                  </tr>
          {% endfor %}
        </tbody>
      </table>
  {% endif %}
  <p id="count"></p>

<script>
  var x = document.getElementById("checkout").rows.length;
  document.getElementById("count").innerHTML = "Materials Rented: " + (x-1);
</script>
{% endblock %}
