{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchcheckout" method="POST">
      <input type="text" placeholder="Search Checkout" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<br>
<h4>Materials Due Today</h4>
<br>

{% if circulations %}
    <table class="table table-striped table-hover table-sm text-center">
        <thead>
            <tr>
                <th>Checkout ID</th>
                <th>Material ID</th>
                <th>People ID</th>
                <th>Checkout Date</th>
                <th>Date Due</th>
            </tr>
        </thead>

        <tbody>
            {% for row in circulations %}
            <tr>

                <td> {{ row.CheckoutID }}</td>
                <td> {{ row.MaterialID }}</td>
                <td> {{ row.PeopleID }}</td>
                <td> {{ row.Checkoutdate }}</td>
                <td> {{ row.Datedue }}</td>
                <td> <form action="{{ url_for('checkout', CheckoutID=row.CheckoutID) }}" method="POST">
                  <input type="submit" value="Check In" class="btn btn-info" />
                </form>
              </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
