{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a class="active" href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchmaterials" method="POST">
      <input type="text" placeholder="Search Materials" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<br>
<p><img src="static/images/books2.jpg" alt="bookshelf" style="float:right" width="100%" height="100%"></p>

<div class ="about">
  <h2>About Us</h2>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis nibh orci. Praesent hendrerit convallis sodales. Phasellus dolor mauris, sagittis ut pretium blandit, posuere vel magna. Ut lobortis metus vitae lectus tempus tincidunt. Nam gravida purus sit amet est ultricies, nec tempor tellus ultrices. Integer eleifend tellus ac consectetur tincidunt. Sed eget odio scelerisque, accumsan sapien et, eleifend metus. Ut eros diam, blandit dictum convallis at, ultrices eget enim. Integer vestibulum molestie ante posuere pulvinar. Nullam id ante ligula.
  <br><br>
Aenean placerat ultrices augue, id tempor risus. Quisque et elementum sapien. Cras tempor massa eu felis condimentum imperdiet. Sed eu lectus sit amet ex interdum imperdiet. Vestibulum interdum dignissim lectus nec congue. Mauris sed libero dolor. Curabitur sagittis quam porta, finibus odio sit amet, viverra lectus. Curabitur placerat aliquet nulla, porttitor venenatis sem porta vel. Aliquam porta turpis dolor, a fermentum neque bibendum a.
</div>
<br><br>
  <div class="hours">
  <h4>Hours</h4>
  Mon: 10am to 9pm<br />
  Tue: 10am to 9pm<br />
  Wed: 10am to 9pm<br />
  Thu: 10am to 9pm<br />
  Fri: 10am to 8pm<br />
  Sat: 10am to 6pm<br />
  Sun: 12pm to 5pm
  </div>
  <br>


    <h4>Contact Us</h4>
    <i class="fas fa-phone"</i>&ensp;(319) 555-5927<br>
      <br>
    <i class="fas fa-map-marker-alt"</i>&ensp;&nbsp;235 University Ave. <br />&ensp;&ensp;&ensp;South Liberty, IA 50273<br>
      <br>
    <i class="fas fa-envelope"</i>&ensp;library@slpl.org<br>
      <br>

    <i class="fa fa-facebook-square"></i>
    <i class="fa fa-twitter-square"> </i>
    <i class="fa fa-instagram"</i>
    <i class="fa fa-youtube-play"> </i>



{% endblock %}
