{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchpeople" method="POST">
      <input type="text" placeholder="Search Patrons" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>
<br>
  <h4>Patron Details</h4>

{% if form %}
  <form method="POST" action="{{ url_for('add_people') }}">

<table class = "table table-striped" id="patronsdetails">
  <thead>
    <tr>
        <th>People ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birthdate</th>
        <th>Address</th>
        <th>City</th>
        <th>State</th>
        <th>Zip</th>
        <th>Phone Number 1</th>
        <th>Phone Number 2</th>
        <th>Email</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ form.PeopleID.label }} {{ form.PeopleID }}</td>
      <td>{{ form.FirstName.label }} {{ form.FirstName }}</td>
      <td>{{ form.LastName.label }} {{ form.LastName }}</td>
      <td>{{ form.Birthdate.label }} {{ form.Birthdate }}</td>
      <td>{{ form.Address.label }} {{ form.Address }}</td>
      <td>{{ form.City.label }} {{ form.City }}</td>
      <td>{{ form.State.label }} {{ form.State }}</td>
      <td>{{ form.Zip.label }} {{ form.Zip }}</td>
      <td>{{ form.PhoneNumber1.label }} {{ form.PhoneNumber1 }}</td>
      <td>{{ form.PhoneNumber2.label }} {{ form.PhoneNumber2 }}</td>
      <td>{{ form.Email.label }} {{ form.Email }}</td>
    </tr>
  </tbody>

    <input type="submit" formaction="{{url_for('update_patron', PeopleID=form.PeopleID)}}" value="Update">
    <input type="submit" formaction="{{url_for('delete_patron', PeopleID=form.PeopleID)}}" value="Delete">


  </form>
{% endif %}
{% endblock %}
