{% extends 'base.html' %}


{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a class="active" href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
  <div class="search-container">
    <form action="/searchpeople" method="POST">
      <input type="text" placeholder="Search Patrons" name="search_string">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
<br>
<br>
<p><a href="{{ url_for('add_people')}}" class="btn btn-info"> Add Patron</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
  {% for message in messages %}
  <strong>Alert!
  </strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>

{% if people %}
    <table class = "table table-striped" id="patrons">
        <thead>
            <tr>

                <th>People ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthdate</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Phone Number 1</th>
                <th>Phone Number 2</th>
                <th>Email</th>

            </tr>
        </thead>

      <tbody>

            {% for row in people %}      <tr>

                <td> {{ row.PeopleID }}</td>
                <td> {{ row.FirstName }}</td>
                <td> {{ row.LastName }}</td>
                <td> {{ row.Birthdate }}</td>
                <td> {{ row.Address }}</td>
                <td> {{ row.City }}</td>
                <td> {{ row.State }}</td>
                <td> {{ row.Zip }}</td>
                <td> {{ row.PhoneNumber1 }}</td>
                <td> {{ row.PhoneNumber2 }}</td>
                <td> {{ row.Email }}</td>


      <td>
        <form action="{{ url_for('patron', PeopleID=row.PeopleID) }}" method="POST">
          <input type="submit" value="Details" class="btn btn-info" />
        </form>
      </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
<p id="count"></p>

<script>
  var x = document.getElementById("patrons").rows.length;
  document.getElementById("count").innerHTML = "Total Patrons: " + (x-1);
</script>
{% endblock %}
