{% extends 'base.html' %}
{% block body %}
<div class="navbar">
  <h3>South Liberty Public Library</h3>
  <a href="{{ url_for('index')}}"><i class="fa fa-fw fa-home"></i> Home</a>
  <a href="{{ url_for('materials')}}"><i class="fas fa-book"></i> Materials</a>
  <a href="{{ url_for('people')}}"><i class="fa fa-fw fa-user"></i> Patrons</a>
  <a href="{{ url_for('checkout')}}"><i class="fas fa-cart-plus"></i> Checkout</a>
</div>
<div>

  <h4>Update Material</h4>

  <form method="POST" action="">

    {{ form.csrf_token }}
    {{ form.MaterialID.label }}     {{ form.MaterialID(size=5, readonly=true) }} <br>
    {{ form.Title.label }}          {{ form.Title(size=20) }}<br>
    {{ form.Genre.label }}         {{ form.Genre(size=20) }}<br>
    {{ form.Author.label }}         {{ form.Author(size=20) }}<br>
    {{ form.ISBN.label }}           {{ form.ISBN(size=20) }} <br>
    {{ form.DateAdded.label }}      {{ form.DateAdded(size=20) }} <br>
    {{ form.LastModified.label }}   {{ form.LastModified(size=20) }} <br>
    <br>
    <input type="submit" value="Save">

  </form>
</div>
{% endblock %}
